h1 {
  color: white;
  margin-left: 100%;
  font-size: 46px;
  width: 20%;
  margin-top: -45%;

}

p {
  color: white;
  font-family: "Courier";
  margin-left: 100%;
  width: 20%;
  font-size: 17px;
}

.bg {
  background-image: url(../img/achtergrond.png);
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
  background-color: #C0D570;
  width: 1183px;
  height: 900px;
}

#bomen {
  margin-top: 145px;
  width: 22%;
  margin-left: 29px;
  position: relative;

}

#pop {
  position: absolute;
  display: block;
  left: 217px;
  margin-left: 38%;
  width: 85px;
  margin-top: -41%;
}

#huis {
  width: 40%;
  margin-left: 499px;
  position: absolute;
}

#graan {
  width: 12%;
  margin-left: 1030px;
  position: absolute;
}

#koe {
  margin-top: 329px;
  width: 23%;
  margin-left: 896px;
  position: absolute;
}

#steen {
  margin-top: 477px;
  width: 20%;
  margin-left: 467px;
  position: absolute;
}

body {
  background-color: #C0D570;
}

button {
  margin-left: 103%;
  margin-top: 2%;
  width: 14%;
  color: #C0D570;
  border: none;
  border-radius: 55px;
  font-size: 17px;
}

.hidden {
  display:none
}